<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/javascripts/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/developers.css" media="screen"/>
</head>
<!--<body class="en" cz-shortcut-listen="true">-->
<!--<body>-->
<!--<div id="mother" class="">-->
<!--<div id="front">-->
<!--<div class="header"></div>-->
<!--<div class="main">-->
<!--<div class="section">-->

<!--<div class="section-scroll">-->
<!--<div class="crossroad-article">-->
<!--<div class="page-wrap show">-->
<!--<div class="page">-->
<!--<div class="item img-left">-->
<!--<a href="/en/news/novinka-v-nasem-sortimentu-giorgetti">-->
<!--<div class="content-wrap">-->
<!--<div class="content">-->
<!--<p class="date">13.06.2014</p>-->

<!--<h2 class="title">News in our sortiment - Giorgetti</h2>-->

<!--<div class="separator"></div>-->
<!--<p>Italian icon Giorgetti - producer of residental furniture and-->
<!--furniture-->
<!--for offices</p>-->
<!--</div>-->
<!--</div>-->
<!--<p class="img">-->
<!--<img class="responsive"-->
<!--data-image1024="/images/am_giorgettiatelier2012_037_w.jpg"-->
<!--data-image1600="/images/am_giorgettiatelier2012_037_w.jpg"-->
<!--data-image1920="/images/am_giorgettiatelier2012_037_w.jpg"-->
<!--width="800" height="360" src="" alt="">-->
<!--</p>-->
<!--</a>-->
<!--</div>-->
<!--<div class="item img-right">-->
<!--<a href="/en/news/miele-revoluce-v-peci-o-pradlo">-->
<!--<div class="content-wrap">-->
<!--<div class="content">-->
<!--<p class="date">11.04.2014</p>-->

<!--<h2 class="title">New Miele laundry generation!</h2>-->

<!--<div class="separator"></div>-->
<!--<p>The new W1 Washing Machines and T1 Tumble Dryers</p>-->
<!--</div>-->
<!--</div>-->
<!--<p class="img">-->
<!--<img class="responsive"-->
<!--data-image1024="/images/w1-t1-chromeedition-03w.jpg"-->
<!--data-image1600="/images/w1-t1-chromeedition-03w.jpg"-->
<!--data-image1920="/images/w1-t1-chromeedition-03w.jpg"-->
<!--width="800" height="360" src="/images/w1-t1-chromeedition-03w.jpg"-->
<!--alt="">-->
<!--</p>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="page-wrap">-->
<!--<div class="page">-->
<!--<div class="item img-left">-->
<!--<a href="/en/news/novinka-v-sortimentu-stopka-riva-1920">-->
<!--<div class="content-wrap">-->
<!--<div class="content">-->
<!--<p class="date">11.04.2014</p>-->

<!--<h2 class="title">Novelty in assortment STOPKA! Riva1920</h2>-->

<!--<div class="separator"></div>-->
<!--<p>Italian designer wood furniture from around the world</p>-->
<!--</div>-->
<!--</div>-->
<!--<p class="img">-->
<!--<img class="responsive"-->
<!--data-image1024="/images/wallstreet_riva_noc_amb_01.jpg"-->
<!--data-image1600="/images/wallstreet_riva_noc_amb_01.jpg"-->
<!--data-image1920="/images/wallstreet_riva_noc_amb_01.jpg"-->
<!--width="800" height="360" src="/images/wallstreet_riva_noc_amb_01.jpg"-->
<!--alt="">-->
<!--</p>-->
<!--</a>-->
<!--</div>-->
<!--<div class="item img-right">-->
<!--<a href="/en/news/nove-nabizime-produkty-od-rolf-benz">-->
<!--<div class="content-wrap">-->
<!--<div class="content">-->
<!--<p class="date">31.01.2014</p>-->

<!--<h2 class="title">Evolution in the Minotti assortment </h2>-->

<!--<div class="separator"></div>-->
<!--<p>Seating system Andersen-->


<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--<p class="img">-->
<!--<img class="responsive"-->
<!--data-image1024="/images/andersen-02.jpg"-->
<!--data-image1600="/images/andersen-02.jpg"-->
<!--data-image1920="/images/andersen-02.jpg"-->
<!--width="800" height="360" src="/images/andersen-02.jpg" alt="">-->
<!--</p>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="page-wrap">-->
<!--<div class="page">-->
<!--<div class="item img-left">-->
<!--<a href="/en/news/novinka1">-->
<!--<div class="content-wrap">-->
<!--<div class="content">-->
<!--<p class="date">26.01.2014</p>-->

<!--<h2 class="title">Walter Knoll 2014 news</h2>-->

<!--<div class="separator"></div>-->
<!--<p>An extraordinary experience - Grand Suite </p>-->
<!--</div>-->
<!--</div>-->
<!--<p class="img">-->
<!--<img class="responsive"-->
<!--data-image1024="/images/walterknoll.jpg"-->
<!--data-image1600="/images/walterknoll.jpg"-->
<!--data-image1920="/images/walterknoll.jpg"-->
<!--width="800" height="360" src="/images/walterknoll.jpg" alt="">-->
<!--</p>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="menu-section">-->
<!--<a href="#" class="prev">Předchozí</a>-->
<!--<div class="menu">-->
<!--<span class="pages"><strong>1</strong>/3</span>-->
<!--</div>-->
<!--<a href="#" class="next">Následující</a>-->
<!--</div>-->
<!--<div class="main-overlay"></div>-->
<!--<div id="footer"></div>-->
<!--</div>-->
<!--</div>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/plugins/ScrollToPlugin.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>-->

<!--<script src="/javascripts/jquery.js"></script>-->
<!--<script src="/javascripts/jquery.mousewheel.js"></script>-->
<!--<script src="/javascripts/jquery.form.js"></script>-->
<!--<script src="/javascripts/jquery.history.js"></script>-->
<!--<script src="/javascripts/jquery.cookie.js"></script>-->
<!--<script src="/javascripts/jquery.cycle.js"></script>-->
<!--<script src="/javascripts/jquery.ba-scrollbarwidth.js"></script>-->
<!--<script src="/javascripts/jquery.tubeplayer.min.js"></script>-->

<!--<script src="/javascripts/sk.js"></script>-->
<!--<script src="/javascripts/app.js"></script>-->
<!--<script src="/javascripts/app.Animation.js"></script>-->
<!--<script src="/javascripts/app.Loader.js"></script>-->
<!--<script src="/javascripts/app.Ajaxify.js"></script>-->
<!--<script src="/javascripts/app.Images.js"></script>-->
<!--<script src="/javascripts/app.widgets.Section.js"></script>-->
<!--<script src="/javascripts/app.widgets.Slideshow.js"></script>-->
<!--</body>-->


<body class="en">
<div id="mother" class="">
<div id="front">
    <div class="header"></div>
    <div class="main">
        <div class="section">
            <h1 class="vhide">News</h1>

            <div class="section-scroll">
                <div class="crossroad-article">
                    <div class="page-wrap show">
                        <div class="page">
                            <div class="item img-left">
                                <a href="/en/news/novinka-v-nasem-sortimentu-giorgetti">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <p class="date">13.06.2014</p>

                                            <h2 class="title">News in our sortiment - Giorgetti</h2>

                                            <div class="separator"></div>
                                            <p>Italian icon Giorgetti - producer of residental furniture and furniture
                                                for offices</p>
                                        </div>
                                    </div>
                                    <p class="img">
                                        <img class="responsive"
                                             data-image1024=/images/am_giorgettiatelier2012_037_w.jpg
                                             data-image1600=/images/am_giorgettiatelier2012_037_w.jpg
                                             data-image1920=/images/am_giorgettiatelier2012_037_w.jpg
                                             width="800" height="360" src="" alt=""/>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-wrap show">
                        <div class="page">
                            <div class="item img-right">
                                <a href="/en/news/miele-revoluce-v-peci-o-pradlo">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <p class="date">11.04.2014</p>

                                            <h2 class="title">New Miele laundry generation!</h2>

                                            <div class="separator"></div>
                                            <p>The new W1 Washing Machines and T1 Tumble Dryers</p>
                                        </div>
                                    </div>
                                    <p class="img">
                                        <img class="responsive"
                                             data-image1024=/images/w1-t1-chromeedition-03w.jpg
                                             data-image1600=/images/w1-t1-chromeedition-03w.jpg
                                             data-image1920=/images/w1-t1-chromeedition-03w.jpg
                                             width="800" height="360" src="" alt=""/>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-wrap">
                        <div class="page">
                            <div class="item img-left">
                                <a href="/en/news/novinka-v-sortimentu-stopka-riva-1920">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <p class="date">11.04.2014</p>

                                            <h2 class="title">Novelty in assortment STOPKA! Riva1920</h2>

                                            <div class="separator"></div>
                                            <p>Italian designer wood furniture from around the world</p>
                                        </div>
                                    </div>
                                    <p class="img">
                                        <img class="responsive"
                                             data-image1024=/images/wallstreet_riva_noc_amb_01.jpg
                                             data-image1600=/images/wallstreet_riva_noc_amb_01.jpg
                                             data-image1920=/images/wallstreet_riva_noc_amb_01.jpg
                                             width="800" height="360" src="" alt=""/>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-wrap show">
                        <div class="page">
                            <div class="item img-right">
                                <a href="/en/news/nove-nabizime-produkty-od-rolf-benz">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <p class="date">31.01.2014</p>

                                            <h2 class="title">Evolution in the Minotti assortment </h2>

                                            <div class="separator"></div>
                                            <p>Seating system Andersen


                                            </p>
                                        </div>
                                    </div>
                                    <p class="img">
                                        <img class="responsive"
                                             data-image1024=/images/andersen-02.jpg
                                             data-image1600=/images/andersen-02.jpg
                                             data-image1920=/images/andersen-02.jpg
                                             width="800" height="360" src="" alt=""/>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-wrap">
                        <div class="page">
                            <div class="item img-left">
                                <a href="/en/news/novinka1">
                                    <div class="content-wrap">
                                        <div class="content">
                                            <p class="date">26.01.2014</p>

                                            <h2 class="title">Walter Knoll 2014 news</h2>

                                            <div class="separator"></div>
                                            <p>An extraordinary experience - Grand Suite </p>
                                        </div>
                                    </div>
                                    <p class="img">
                                        <img class="responsive"
                                             data-image1024=/images/walterknoll.jpg
                                             data-image1600=/images/walterknoll.jpg
                                             data-image1920=/images/walterknoll.jpg
                                             width="800" height="360" src="" alt=""/>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-section">
                <a href="#" class="prev">Předchozí</a>

                <div class="menu">
                    <span class="pages"><strong>1</strong>/3</span>
                </div>
                <a href="#" class="next">Následující</a>
            </div>
        </div>
    </div>
    <div class="main-overlay"></div>
    <div id="footer"></div>
</div>

</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/plugins/ScrollToPlugin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mousewheel.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/jquery.history.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/jquery.cycle.js"></script>
<script src="/javascripts/jquery.ba-scrollbarwidth.js"></script>
<script src="/javascripts/jquery.tubeplayer.min.js"></script>

<script src="/javascripts/sk.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/app.Animation.js"></script>
<script src="/javascripts/app.Loader.js"></script>
<script src="/javascripts/app.Ajaxify.js"></script>
<script src="/javascripts/app.Images.js"></script>
<script src="/javascripts/app.widgets.Section.js"></script>
<script src="/javascripts/app.widgets.Slideshow.js"></script>
<script>
    var tree = [
        {"title": "Stopka | STOPKA", "url": "\/en", "slug": "en", "level": "0", "lft": "-1", "rgt": "-1", "children": []},
        {"title": "News | STOPKA", "url": "\/en\/news", "slug": "aktuality", "level": "1", "lft": "2", "rgt": "3", "children": []},
        {"title": "Services | STOPKA", "url": "\/en\/services", "slug": "services", "level": "1", "lft": "4", "rgt": "11", "children": [
            {"title": "Design and realization of complete interior and kitchen | STOPKA", "url": "\/en\/sluzby\/interior-architecture", "slug": "navrhy-a-realizace-interieru-a-kuchyni", "level": "2", "lft": "5", "rgt": "6", "children": []},
            {"title": "Fitting interior with furniture | STOPKA", "url": "\/en\/sluzby\/prodej.html", "slug": "prodej-nabytku", "level": "2", "lft": "7", "rgt": "8", "children": []},
            {"title": "A specialist in Miele appliances  | STOPKA", "url": "\/en\/sluzby\/spotrebice.html", "slug": "spotrebice", "level": "2", "lft": "9", "rgt": "10", "children": []}
        ]},
        {"title": "Sortiment | STOPKA", "url": "\/en\/sortiment", "slug": "sortiment", "level": "1", "lft": "12", "rgt": "29", "children": [
            {"title": "Kitchens and dining rooms | STOPKA", "url": "\/en\/sortiment\/kuchyne-a-jidelny.html", "slug": "kuchyne-a-jidelny", "level": "2", "lft": "13", "rgt": "14", "children": []},
            {"title": "Living room | STOPKA", "url": "\/en\/sortiment\/obyvaci-pokoje.html", "slug": "obyvaci-pokoje", "level": "2", "lft": "15", "rgt": "16", "children": []},
            {"title": "Bedrooms and dressing rooms | STOPKA", "url": "\/en\/sortiment\/loznice-a-satny", "slug": "loznice-a-satny", "level": "2", "lft": "17", "rgt": "18", "children": []},
            {"title": "Bathrooms and floors | STOPKA", "url": "\/en\/sortiment\/koupelny.html", "slug": "koupelny-a-podlahy", "level": "2", "lft": "19", "rgt": "20", "children": []},
            {"title": "Textile Product and Accessories | STOPKA", "url": "\/en\/sortiment\/textil.html", "slug": "textil", "level": "2", "lft": "23", "rgt": "24", "children": []},
            {"title": "Terraces | STOPKA", "url": "\/en\/sortiment\/terasy.html", "slug": "terasy", "level": "2", "lft": "25", "rgt": "26", "children": []},
            {"title": "Brands | STOPKA", "url": "\/en\/sortiment\/brands", "slug": "znacky", "level": "2", "lft": "27", "rgt": "28", "children": []}
        ]},
        {"title": "References | STOPKA", "url": "\/en\/reference.html", "slug": "reference", "level": "1", "lft": "30", "rgt": "39", "children": [
            {"title": "Modern | STOPKA", "url": "\/en\/reference\/moderni", "slug": "moderni-styl", "level": "2", "lft": "33", "rgt": "34", "children": []},
            {"title": "Elegant | STOPKA", "url": "\/en\/reference\/secesni-styl.html", "slug": "secesni-styl", "level": "2", "lft": "35", "rgt": "36", "children": []},
            {"title": "Classic | STOPKA", "url": "\/en\/reference\/barokni-styl.html", "slug": "barokni-styl", "level": "2", "lft": "37", "rgt": "38", "children": []}
        ]},
        {"title": "Magazine | STOPKA", "url": "\/en\/magazin.html", "slug": "magazin", "level": "1", "lft": "40", "rgt": "41", "children": []},
        {"title": "About us | STOPKA", "url": "\/en\/o-nas.html", "slug": "about-us", "level": "1", "lft": "42", "rgt": "47", "children": [
            {"title": "Our philosophy | STOPKA", "url": "\/cs\/o-nas\/nase-filozofie.html", "slug": "our-philosophy", "level": "2", "lft": "43", "rgt": "44", "children": []},
            {"title": "Our team | STOPKA", "url": "\/cs\/o-nas\/tym.html", "slug": "team", "level": "2", "lft": "45", "rgt": "46", "children": []}
        ]},
        {"title": "Contact | STOPKA", "url": "\/en\/kontakt.html", "slug": "kontakt", "level": "1", "lft": "49", "rgt": "56", "children": [
            {"title": "Prague | STOPKA", "url": "\/kontakt\/praha.html", "slug": "praha", "level": "2", "lft": "50", "rgt": "51", "children": []},
            {"title": "Bratislava | STOPKA", "url": "\/kontakt\/bratislava.html", "slug": "bratislava", "level": "2", "lft": "52", "rgt": "53", "children": []},
            {"title": "Outlet | STOPKA", "url": "\/kontakt\/outlet.html", "slug": "outlet", "level": "2", "lft": "54", "rgt": "55", "children": []}
        ]},
        {"title": "Terms en | STOPKA", "url": "\/cs\/terms.html", "slug": "terms", "level": "1", "lft": "49", "rgt": "50", "children": []},
        {"title": "Registration | STOPKA", "url": "\/en\/registration", "slug": "registration", "level": 1, "children": [], "backend": true},
        {"title": "Login | STOPKA", "url": "\/en\/login", "slug": "login", "level": 1, "children": [], "backend": true},
        {"title": "Getting a password | STOPKA", "url": "\/en\/retrieve", "slug": "retrieve", "level": 1, "children": [], "backend": true},
        {"title": "To download | STOPKA", "url": "\/en\/download", "slug": "download", "level": 1, "children": [], "backend": true},
        {"title": "Settings | STOPKA", "url": "\/en\/user", "slug": "user", "level": 1, "children": [], "backend": true},
        {"title": "Business Terms and Conditions | STOPKA", "url": "\/en\/terms", "slug": "terms", "level": 1, "children": [], "backend": true},
        {"title": "\u00davod | STOPKA", "url": "\/en\/welcome", "slug": "welcome", "level": 1, "children": [], "backend": true},
        {"title": "Zap\u016fj\u010den\u00ed vzork\u016f | STOPKA", "url": "\/en\/rent", "slug": "rent", "level": 1, "children": [], "backend": true},
        {"title": "Prostor pro V\u00e1s | STOPKA", "url": "\/en\/space", "slug": "space", "level": 1, "children": [], "backend": true}
    ];
    //console.log(tree);
    App.run({
        links: tree
    })
</script>
<div class="box-message-portrait">
    <div class="text">Turn your tablet into a horizontal position</div>
</div>
<script type="text/javascript">

    if (window.location.hostname == 'stopka.cz') {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-48416903-1']);
        _gaq.push(['_trackPageview']);

        _gaq.push(['b._setAccount', 'UA-31865163-1']);
        _gaq.push(['b._trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    }

</script>

<!-- Kód Google značky pro remarketing -->
<!--------------------------------------------------
Značka pro remarketing nesmí být spojena s údaji umožňujícími identifikaci osob nebo umístěna na stránkách týkajících se citlivých kategorií. Další informace a postup nastavení značky naleznete na stránce: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1018143946;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1018143946/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>


</html>
<!--<script>-->
    <!--var tree = [-->
        <!--{"title": "Stopka | STOPKA", "url": "\/en", "slug": "en", "level": "0", "lft": "-1", "rgt": "-1", "children": []},-->
        <!--{"title": "News | STOPKA", "url": "\/en\/news", "slug": "aktuality", "level": "1", "lft": "2", "rgt": "3", "children": []},-->
        <!--{"title": "Services | STOPKA", "url": "\/en\/services", "slug": "services", "level": "1", "lft": "4", "rgt": "11", "children": [-->
            <!--{"title": "Design and realization of complete interior and kitchen | STOPKA", "url": "\/en\/sluzby\/interior-architecture", "slug": "navrhy-a-realizace-interieru-a-kuchyni", "level": "2", "lft": "5", "rgt": "6", "children": []},-->
            <!--{"title": "Fitting interior with furniture | STOPKA", "url": "\/en\/sluzby\/prodej.html", "slug": "prodej-nabytku", "level": "2", "lft": "7", "rgt": "8", "children": []},-->
            <!--{"title": "A specialist in Miele appliances  | STOPKA", "url": "\/en\/sluzby\/spotrebice.html", "slug": "spotrebice", "level": "2", "lft": "9", "rgt": "10", "children": []}-->
        <!--]},-->
        <!--{"title": "Sortiment | STOPKA", "url": "\/en\/sortiment", "slug": "sortiment", "level": "1", "lft": "12", "rgt": "29", "children": [-->
            <!--{"title": "Kitchens and dining rooms | STOPKA", "url": "\/en\/sortiment\/kuchyne-a-jidelny.html", "slug": "kuchyne-a-jidelny", "level": "2", "lft": "13", "rgt": "14", "children": []},-->
            <!--{"title": "Living room | STOPKA", "url": "\/en\/sortiment\/obyvaci-pokoje.html", "slug": "obyvaci-pokoje", "level": "2", "lft": "15", "rgt": "16", "children": []},-->
            <!--{"title": "Bedrooms and dressing rooms | STOPKA", "url": "\/en\/sortiment\/loznice-a-satny", "slug": "loznice-a-satny", "level": "2", "lft": "17", "rgt": "18", "children": []},-->
            <!--{"title": "Bathrooms and floors | STOPKA", "url": "\/en\/sortiment\/koupelny.html", "slug": "koupelny-a-podlahy", "level": "2", "lft": "19", "rgt": "20", "children": []},-->
            <!--{"title": "Textile Product and Accessories | STOPKA", "url": "\/en\/sortiment\/textil.html", "slug": "textil", "level": "2", "lft": "23", "rgt": "24", "children": []},-->
            <!--{"title": "Terraces | STOPKA", "url": "\/en\/sortiment\/terasy.html", "slug": "terasy", "level": "2", "lft": "25", "rgt": "26", "children": []},-->
            <!--{"title": "Brands | STOPKA", "url": "\/en\/sortiment\/brands", "slug": "znacky", "level": "2", "lft": "27", "rgt": "28", "children": []}-->
        <!--]},-->
        <!--{"title": "References | STOPKA", "url": "\/en\/reference.html", "slug": "reference", "level": "1", "lft": "30", "rgt": "39", "children": [-->
            <!--{"title": "Modern | STOPKA", "url": "\/en\/reference\/moderni", "slug": "moderni-styl", "level": "2", "lft": "33", "rgt": "34", "children": []},-->
            <!--{"title": "Elegant | STOPKA", "url": "\/en\/reference\/secesni-styl.html", "slug": "secesni-styl", "level": "2", "lft": "35", "rgt": "36", "children": []},-->
            <!--{"title": "Classic | STOPKA", "url": "\/en\/reference\/barokni-styl.html", "slug": "barokni-styl", "level": "2", "lft": "37", "rgt": "38", "children": []}-->
        <!--]},-->
        <!--{"title": "Magazine | STOPKA", "url": "\/en\/magazin.html", "slug": "magazin", "level": "1", "lft": "40", "rgt": "41", "children": []},-->
        <!--{"title": "About us | STOPKA", "url": "\/en\/o-nas.html", "slug": "about-us", "level": "1", "lft": "42", "rgt": "47", "children": [-->
            <!--{"title": "Our philosophy | STOPKA", "url": "\/cs\/o-nas\/nase-filozofie.html", "slug": "our-philosophy", "level": "2", "lft": "43", "rgt": "44", "children": []},-->
            <!--{"title": "Our team | STOPKA", "url": "\/cs\/o-nas\/tym.html", "slug": "team", "level": "2", "lft": "45", "rgt": "46", "children": []}-->
        <!--]},-->
        <!--{"title": "Contact | STOPKA", "url": "\/en\/kontakt.html", "slug": "kontakt", "level": "1", "lft": "49", "rgt": "56", "children": [-->
            <!--{"title": "Prague | STOPKA", "url": "\/kontakt\/praha.html", "slug": "praha", "level": "2", "lft": "50", "rgt": "51", "children": []},-->
            <!--{"title": "Bratislava | STOPKA", "url": "\/kontakt\/bratislava.html", "slug": "bratislava", "level": "2", "lft": "52", "rgt": "53", "children": []},-->
            <!--{"title": "Outlet | STOPKA", "url": "\/kontakt\/outlet.html", "slug": "outlet", "level": "2", "lft": "54", "rgt": "55", "children": []}-->
        <!--]},-->
        <!--{"title": "Terms en | STOPKA", "url": "\/cs\/terms.html", "slug": "terms", "level": "1", "lft": "49", "rgt": "50", "children": []},-->
        <!--{"title": "Registration | STOPKA", "url": "\/en\/registration", "slug": "registration", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Login | STOPKA", "url": "\/en\/login", "slug": "login", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Getting a password | STOPKA", "url": "\/en\/retrieve", "slug": "retrieve", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "To download | STOPKA", "url": "\/en\/download", "slug": "download", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Settings | STOPKA", "url": "\/en\/user", "slug": "user", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Business Terms and Conditions | STOPKA", "url": "\/en\/terms", "slug": "terms", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "\u00davod | STOPKA", "url": "\/en\/welcome", "slug": "welcome", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Zap\u016fj\u010den\u00ed vzork\u016f | STOPKA", "url": "\/en\/rent", "slug": "rent", "level": 1, "children": [], "backend": true},-->
        <!--{"title": "Prostor pro V\u00e1s | STOPKA", "url": "\/en\/space", "slug": "space", "level": 1, "children": [], "backend": true}-->
    <!--];-->
    <!--//console.log(tree);-->
    <!--App.run({-->
        <!--links: tree-->
    <!--})-->
<!--</script>-->